
QWEN_API_KEY =

OPENAI_API_KEY=
DEEPSEEK_API_KEY=
ATOMA_API_KEY =

SUI_ADDRESS = 
SUI_WORDS= 
# SUI SCAN API
BLUEBERRY_API = 

# CoinMarketCap API
CMC_API_KEY = 



DATABASE_URL=



# tg dev db
TELEGRAM_TOKEN=
USER_CHAT_ID=


# x crawler config
userId=you user name (without '@')
X_COOKIES = [{cookie_item_1},{cookie_item_2}]
